@model List<UltraStock.Models.Usuario>

<h2>Lista de Usuario</h2>

<a class="btn btn-primary" href="/Usuario/Create">Nuevo Usuario</a>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Rol</th>
            <th>Celular</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Nombre</td>
                <td>@user.Correo</td>
                <td>@user.Rol</td>
                <td>@user.celular</td>

                <td>
                    <a href="/Usuario/Edit/@user.Id">Editar</a>

                    <a href="/Usuario/Delete/@user.Id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>